---
layout: layout.vto
title: Posts
description: Ethan Marks' posts
stylesheets: ["/assets/post-index.css"]
---

<h1>{{ title}}</h1>
<article>
    <p>These are my posts. There are many like them, but these ones are mine.</p>
    <div id="random-post-container">
        <a
            href="#"
            id="random-post-btn"
            class="animated"
            title="Go to a random post"
        >
            🎲 Random Post
        </a>
    </div>
</article>
